body {
    margin: 0.2;
  }
  
  html {
    font-family: 'Helvetica neue', Arial, 'sans serif';
    font-size: 10px;
    background-color: #ccc;
    font-family: 'Rubik', sans-serif;
  }
  .CartaInfo {
    width: 40em;
    height: 22em;
    margin: 5em auto;
    background-color: rgb(49, 49, 49);
    border-radius: 1.5em;
    border: 0.2em solid rgb(214, 214, 214);
  }
  
  .CartaInfo h1, .CartaInfo p {
    margin: 0;
  }
  
  .CartaInfo header, .CartaInfo footer {

    padding: 1em; 
    height: 3em;
    color: rgb(255, 255, 255);
  }
  
  .CartaInfo header {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0.1), rgba(0,0,0,0));
    border-radius: 1.5em 1.5em 0 0;
  }
  
  .CartaInfo footer {
    background-image: linear-gradient(to bottom,rgba(255, 255, 255, 0), rgba(0,0,0,0.1));
    border-radius: 0 0 1.5em 1.5em;
  }
  
  .CartaInfo header h1 {
    color: #ccc;
    font-size: 2em;
    line-height: 1.5;
    
  }
  
  .CartaInfo footer p {
   line-height: 3; 
   font-size: 1.5em;
   font-family: 'Rubik', sans-serif;
    
  }
  
  .CartaInfo article {
    height: 12em;
    background-color: rgb(34, 34, 34);
  }
  
  .CartaInfo article img {
    max-height: 100%;
    float: right;
    box-shadow: 3px;
  }
  
  .CartaInfo article p {
    padding: 2em;
    color: rgba(255,255,255,0.8);
  }